.fw-400 {
  font-weight: 400;
}

.pt-15 {
	padding-top: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mw-auto {
  max-width: auto;
}

.alert-success {
    color: #80cbc4;
    background-color: #e1f5fc;
    border-color: #e3f2fd;
}

/*rating*/

.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    margin-left: -8px;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #000;
}
.rating {
	margin-left: 1px;
}

.custom-select {
    color: #adb5bd;
    font-size: 0.85rem;
    font-weight: 400;
}

.fz-6 {
    font-size: 0.6em;
}


.badge-info {
    background-color: #dcb14a;
}



.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-error hr {
  border-top-color: #f1b0b7;
}

.alert-error .alert-link {
  color: #491217;
}


.size-table {
    border-bottom: 1px #aaa dashed;
    cursor: pointer;
}

.size-table:hover {
    border-bottom: 1px #222 dashed;
    cursor: pointer;
    color: #222;
}


.color-choice {
    padding-right: 1.75rem;
    border: none;
}

.bg-transp {
    background-color: transparent;
}