{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block seo %}
        {% block main %}
          
        {% endblock %}

        {% block product %}
          
        {% endblock %}

        {% block promo %}
          
        {% endblock %}

        {% block category %}
          
        {% endblock %}

        {% block new %}
          
        {% endblock %}
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'shop/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Lightbox-->
    <link rel="stylesheet" href="{% static 'shop/vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Range slider-->
    <link rel="stylesheet" href="{% static 'shop/vendor/nouislider/nouislider.min.css' %}">
    <!-- Bootstrap select-->
    <link rel="stylesheet" href="{% static 'shop/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="{% static 'shop/vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/vendor/owl.carousel2/assets/owl.theme.default.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'shop/css/style.blue.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{% static 'shop/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'shop/img/favicon.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page-holder bg-light">
      <!-- navbar-->
      <header class="header bg-white">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="#"><span class="font-weight-bold text-uppercase text-dark">Bauer Dress</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Магазин</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Контакты</a>
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item border-0 transition-link" href="https://www.instagram.com/bauerdress/" target="_blank">Instagram</a>
                    <a class="dropdown-item border-0 transition-link" href="mailto:bauergallla@gmail.com">bauergallla@gmail.com</a>
                    <a class="dropdown-item border-0 transition-link" href="tel:+89833022013">+8 (983) 302-20-13</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- Main Wrapper start -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
      <footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Помощь</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Доставка</a></li>
                <li><a class="footer-link" href="#">Что-то не так с товаром?</a></li>
                <li><a class="footer-link" href="#">Конфиденциальность</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">О нас</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Задать вопрос</a></li>
                <li><a class="footer-link" href="#">Наша Story</a></li>
                <li><a class="footer-link" href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Контакты</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="https://www.instagram.com/bauerdress/" target="_blank">Instagram</a></li>
                <li><a class="footer-link" href="tel:+89833022013">+8 (983) 302-20-13</a></li>
                <li><a class="footer-link" href="mailto:bauergallla@gmail.com">bauergallla@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2020 BAUER DRESS</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">designed by <a class="text-white reset-anchor" href="https://bootstraptemple.com/p/bootstrap-ecommerce" target="_blank">Ondrej</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- JavaScript files-->
      <script src="{% static 'shop/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'shop/vendor/lightbox2/js/lightbox.min.js' %}"></script>
      <script src="{% static 'shop/vendor/nouislider/nouislider.min.js' %}"></script>
      <script src="{% static 'shop/vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'shop/vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
      <script src="{% static 'shop/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
      <script src="{% static 'shop/js/front.js' %}"></script>
      <script>        
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/media/orion-svg-sprite.svg'); 
        
      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>