{% extends 'shop/detail_base.html' %}

{% block price %}
	{{ set.price }}
{% endblock %}

{% block sets %}
	<a style="padding-right: 10px;" class="d-flex" href="{{ set.get_absolute_url }}">
	  <div class="border d-flex align-items-center justify-content-between py-3 px-3 bg-white border-white" style="border: 1px solid #5eafea !important;">
	    <span class="small text-uppercase">{{ current_set.size_set }}</span>
	  </div>
	</a>

	{% for set in sets %}
		<a style="padding-right: 10px;" class="d-flex" href="{{ set.get_absolute_url }}">
		  <div class="border d-flex align-items-center justify-content-between py-3 px-3 bg-white border-white">
		    <span class="small text-uppercase text-gray">{{ set.size_set }}</span>
		  </div>
		</a>
	{% endfor %}
{% endblock %}
